<configuration>
  <appSettings>
    <add key="connectionString"
      value="server=db1.cs.uakron.edu;database=WP_ajh158;uid=ajh158;pwd=aTieLa6x;allow zero datetime=yes" />
  </appSettings>
     <system.web>
	<authorization>
		<allow roles="Family, Friend" />
		<deny users="*" />
	</authorization>
  </system.web>
</configuration>

<!--
       value="server=db1.cs.uakron.edu;database=WP_ajh158;uid=ajh158;pwd=aTieLa6x;allow zero datetime=yes" />
-->

<!--
-->